<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Trivia.IO!!</h1>
    <form action="/game" method="post" id="name-form">
        <input type="text" name="name" placeholder="Enter Your Name" id="username" required>
        <button type="submit">Play</button>
    </form>
    <script>
        document.getElementById('name-form').addEventListener('submit', (e) => {
            const username = document.getElementById('username').value.trim();
            if (username) {
                localStorage.setItem('username', username);
            }
        });

    const urlParams = new URLSearchParams(window.location.search);
    const error = urlParams.get('error');

    if (error === 'username-taken') {
        const errorMessage = document.createElement('div');
        errorMessage.textContent = 'The username is already in use. Please choose a different username.';
        errorMessage.style.color = 'red';
        errorMessage.style.fontWeight = 'bold';
        errorMessage.style.marginTop = '10px';
        const form = document.getElementById('name-form');
        form.parentNode.insertBefore(errorMessage, form);
    }
    </script>
</body>
</html>